<header class="hero-unit" id="banner" style="margin-top:0;">
  <div class="container">
    <h1 class="logo-font">API Maturity</h1>
    <p class="lead">Login</p>  
  </div>
</header>
<div class="login-row">
  <div class="col-lg-4 col-lg-offset-4" style="padding-top:15px;padding-bottom:20px;">
    <!-- <code class="text-center">Currently under development</code> -->
    <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

      <div class="form-group">
        <label>Email</label>

        <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
      </div>

      <div class="form-group">
        <label>Password</label>

        <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
      </div>

      <div class="form-group has-error">
        <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
         Please enter your email and password.
       </p>
       <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
         Please enter a valid email.
       </p>

       <p class="help-block">{{ vm.loginErr }}</p>
     </div>

     <div>
      <button class="btn btn-inverse btn-md btn-login" type="submit">
        Login
      </button>
      <a class="btn btn-default btn-mg btn-register" ui-sref="signup">
        Register
      </a>
    </div>
    <br/>
      <a ui-sref="forgot">Did you forget your password?</a>
  </form>
</div>
</div>


