<div class="modal-wrap">
  <div class="modal-header panel-grad-head">
    <h3 class="modal-title" id="modal-title">New Question</h3>
  </div>
  <div name="form" class="modal-body" id="modal-body">
    <form class="form" name="form" ng-submit="addCtrl.checkForm(form)" novalidate>
    
      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && addCtrl.submitted,
                                            'has-error': form.name.$invalid && addCtrl.submitted }">
        <label for="name">Question Name:</label>
        <input name="name" class="form-control" ng-model="addCtrl.newQuestion.question" placeholder="Enter a question..." required>
        <p class="help-block" ng-show="form.name.$error.required && addCtrl.submitted">
          Please enter a question.
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.cat.$valid && addCtrl.submitted,
                                            'has-error': form.cat.$invalid && addCtrl.submitted }">
        <label for="cat">Category:</label>
        <select name="cat" class="form-control" ng-model="addCtrl.newQuestion.category" required>
          <option value="Self-Assessment">Self-Assessment</option>
          <option value="Quantitative-Assessment">Quantitative-Assessment</option>
        </select>
        <p class="help-block" ng-show="form.cat.$error.required && addCtrl.submitted">
          Please select a category.
        </p>
      </div>
    </form>

    <strong>Weight: {{addCtrl.newQuestion.weight}}</strong>
    <br/>
    <div style="margin-top:3px">
      <button class="btn btn-default btn-xs" ng-click="addCtrl.incWeight()">
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      </button>
      <button class="btn btn-default btn-xs" ng-click="addCtrl.decWeight()">
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
      </button>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-default" ng-click="addCtrl.checkForm(form)">
      Save <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
    </button>
    <button class="btn btn-sm btn-default" ng-click="addCtrl.cancel()">
      Cancel <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
  </div>
</div>