<div class="modal-header panel-grad-head">
	<h3 class="modal-title" id="modal-title">New Question</h3>
</div>
<div class="modal-body" id="modal-body">
	<form>
		<div class="form-group">
			<label for="nameInput">Question Name:</label>
			<input type="text" class="form-control" id="nameInput" ng-model="addCtrl.newQuestion.question" placeholder="Enter a question...">
		</div>
		<div class="form-group">
			<label for="descInput">Category:</label>
			<select id="editCatSelect" ng-model="addCtrl.newQuestion.category">
				<option value="Self Assessment">Self Assessment</option>
				<option value="Quantitative Assessment">Quantitative Assessment</option>
			</select>
		</div>
		<div class="form-group">
			<label for="weightInput">Weight:</label>
			<input type="text" class="form-control" id="weightInput" ng-model="addCtrl.newQuestion.weight" placeholder="Enter a weight...">
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button btn-default" ng-click="addCtrl.submit()">
		Save <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
	</button>
	<button class="btn btn-default" type="button" ng-click="addCtrl.cancel()">
		Cancel <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</button>
</div>