<div class="modal-wrap">
<div class="modal-header panel-grad-head">
	<h3 class="modal-title" id="modal-title">New User</h3>
</div>
<div class="modal-body" id="modal-body">
<form class="form" name="form" ng-submit="addCtrl.checkForm(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && addCtrl.submitted,
                                            'has-error': form.name.$invalid && addCtrl.submitted }">
          <label>Username:</label>

          <input type="text" name="name" class="form-control" ng-model="addCtrl.newUser.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && addCtrl.submitted">
            A username is required.
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && addCtrl.submitted,
                                            'has-error': form.email.$invalid && addCtrl.submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="addCtrl.newUser.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && addCtrl.submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && addCtrl.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ addCtrl.errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.fName.$valid && addCtrl.submitted,
                                            'has-error': form.fName.$invalid && addCtrl.submitted }">
          <label>First Name:</label>

          <input type="text" name="fName" class="form-control" ng-model="addCtrl.newUser.firstName"
                 required/>
          <p class="help-block" ng-show="form.fName.$error.required && addCtrl.submitted">
            Please enter the user's first name.
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.lName.$valid && addCtrl.submitted,
                                            'has-error': form.lName.$invalid && addCtrl.submitted }">
          <label>Last Name:</label>

          <input type="text" name="lName" class="form-control" ng-model="addCtrl.newUser.lastName"
                 required/>
          <p class="help-block" ng-show="form.lName.$error.required && addCtrl.submitted">
            Please enter the user's last name.
          </p>
        </div>


        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && addCtrl.submitted,
                                            'has-error': form.password.$invalid && addCtrl.submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="addCtrl.newUser.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && addCtrl.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ addCtrl.errors.password }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && addCtrl.submitted,
                                            'has-error': form.confirmPassword.$invalid && addCtrl.submitted }">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="addCtrl.newUser.confirmPassword"
                 ng-pattern="addCtrl.newUser.password"
                 ng-minlength="3" required/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.pattern && addCtrl.submitted">
            Passwords must match.
          </p>
        </div>
      </form>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button btn-default" ng-click="addCtrl.checkForm(form)">
	Save <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
	</button>
	<button class="btn btn-default" type="button" ng-click="addCtrl.cancel()">
	Cancel <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</button>
</div>
</div>