<div class="container" style="margin-top:1%;">
	<div class="panel panel-default">
		<div class="panel-heading panel-grad-head">
			<h4 class="h4-panel">Assessment Preview</h4>
			<small class="h4-panel">Template: {{preCtrl.templateName}}</small><br/>
		</div>
		<div class="panel-body">
			<div class="user-info">
				<div class="well">
					<div class="text-primary" ng-click="sasHide = !sasHide">
						<h4>Self Assessment Scores</h4>
					</div>
					<table class="table table.responsive table-hover table-striped" ng-show="sasHide">
						<thead class="thead">
							<tr>
								<th>Category</th>
								<th>Response</th>
								<th>Value</th>
								<th>Weight</th>
								<th>Score</th>
							</tr>
						</thead>
						<tbody  ng-repeat="form in preCtrl.template.assessment">
							<tr ng-repeat="(question, q) in form.questions" ng-if="form.questions[question].category === 'selfAssessment' || form.questions[question].category === 'Self Assessment'">
								<td>{{form.name}}</td>
								<td>Mature</td>
								<td>{{q.answer}}</td>
								<td>{{q.weight}}</td>
								<td>2</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="well">
					<div class="text-primary" ng-click="qasHide = !qasHide">
						<h4>Quantitative Assessment Scores</h4>
					</div>
					<table class="table table.responsive table-hover table-striped" ng-show="qasHide">
						<thead class="thead">
							<tr>
								<th>Question</th>
								<th>Response</th>
								<th>Value</th>
								<th>Weight</th>
								<th>Score</th>
							</tr>
						</thead>
						<tbody ng-repeat="form in preCtrl.template.assessment">
							<tr ng-repeat="(question, q) in form.questions" ng-if="form.questions[question].category === 'quantitativeAssessment' || form.questions[question].category === 'Quantitative Assessment'">
								<td>{{q.question}}</td>
								<td>Mature</td>
								<td>{{q.answer}}</td>
								<td>{{q.weight}}</td>
								<td>1</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<button class="btn btn-default btn-md" ui-sref="builder">
				Back to Survey Builder <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
			</button>
		</div>
	</div>
</div>