<div class="row special-row">
	<div class="col-md-4 left-col-pad">
		<div class="panel panel-default panel-height affixed">
			<div class="panel-heading panel-grad-head">
				<h4 class="h4-panel">Survey Builder</h4>
			</div>
			<div class="panel-body">
				<div ng-hide="builderCtrl.dataLoaded" style="text-align:center;">
				<h4>Loading Templates...</h4>
					<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
					<span class="sr-only">Loading...</span>
				</div>
				<div ng-show="builderCtrl.dataLoaded">
				<table st-table="displayedCollection" st-safe-src="builderCtrl.templates" class="table table.responsive table-hover">
					<thead class="thead">
						<tr>
							<th colspan="3">
								<input st-search placeholder="Search" class="input-sm form-control" type="search"/>
							</th>
						</tr>
						<tr>
							<th st-sort="name" colspan="2">Templates ({{displayedCollection.length}} / {{builderCtrl.templates.length}})</th>

							<th style="width:5%">
								<button type="button" class="btn btn-success btn-sm" ng-click="builderCtrl.toggleModal()">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="template in displayedCollection" ng-click="builderCtrl.selectTemplate(template)">
							<td>{{template.name}}</td>
							<td></td>
							<td style="text-align:right;"">
								<button class="btn btn-danger btn-sm" ng-click="builderCtrl.deleteTemplate(template)">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3">
								<div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
							</td>
						</tr>
					</tfoot>
				</table>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading panel-grad-head">
				<h4 class="h4-panel">Details</h4>
			</div>
			<div class="panel-body">
			          <div ng-hide="builderCtrl.dataLoaded" style="text-align:center;">
            <h4>Please wait...</h4>
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </div>
          <div ng-show="builderCtrl.dataLoaded">
				<button class="btn btn-default btn-sm" ng-click="builderCtrl.selectTemplate(builderCtrl.template); builderCtrl.setInfo();" ui-sref="templateEditor">
					Edit Details <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</button>	
				<hr/>
				<h4 class="text-primary"><strong>{{builderCtrl.template.name}}</strong></h4>
				<div class="col-md-12 content-shadow">
					<strong class="text-muted">Details</strong>
					<ul class="list-group list-special">
						<li class="list-group-item">
							<strong>Created on:</strong> {{builderCtrl.template.created  | date: format: short}}
						</li>
						<li class="list-group-item">
							<strong>Forms:</strong> {{builderCtrl.fCount}}, <strong>Questions:</strong> {{builderCtrl.qCount}}
						</li>
						<li class="list-group-item">
							<strong>Description: </strong> {{builderCtrl.template.description}}
						</li>
					</ul>
					<br/>
					<strong class="text-primary">Results Preview:</strong>
					<div class="content-shadow text-danger" ng-hide=builderCtrl.formsExist>You haven't added any forms to this survey, please press edit to begin building it.</div>
					<div ng-show="builderCtrl.formsExist" id="preview" class="content-shadow" style="height:400px;overflow-y:auto;">
						<h4>Form: {{builderCtrl.form.name}}</h4>
						<h4 class="text-primary">Self-Assessment Questions</h4>
						<hr/>
						<ul class="list-group list-survey" ng-repeat="form in builderCtrl.template.assessment" ng-if="builderCtrl.form._id==form._id" >
							<ul class="list-group list-survey" ng-repeat="(question, q) in form.questions" ng-if="form.questions[question].category === 'Self-Assessment'">
								<li class="list-group-item list-group-item-survey" style="margin-top:1%;padding: 0%;">
									<div class="media">
										<div class="media-left">
											<strong class="text-muted">Score</strong>
											<strong class="score-text text-success">{{q.answer}}</strong>
										</div>
										<div class="media-body" style="padding-bottom:10px;">
											<p class="media-heading question-text">Q: {{q.question}}</p>
											<strong class="text-primary">Response:</strong> Preview<br/>
											<strong class="text-primary">Weight:</strong> {{q.weight}}
										</div>
									</div>
								</li>
							</ul>
						</ul>
						<h4 class="text-primary" style="margin-bottom:20px;">Quality-Assessment Questions</h4>
						<ul class="list-group list-survey" ng-repeat="form in builderCtrl.template.assessment" ng-if="builderCtrl.form._id==form._id" >
							<ul class="list-group list-survey" ng-repeat="(question, q) in form.questions" ng-if="form.questions[question].category === 'Quantitative-Assessment'">
								<li class="list-group-item list-group-item-survey" style="margin-top:1%;padding: 0%;">
									<div class="media">
										<div class="media-left">
											<strong class="text-muted">Score</strong>
											<strong class="score-text text-success">{{q.answer}}</strong>
										</div>
										<div class="media-body" style="padding-bottom:10px;">
											<p class="media-heading question-text">Q: {{q.question}}</p>
											<strong class="text-primary">Response:</strong> Preview<br/>
											<strong class="text-primary">Weight:</strong> {{q.weight}}
										</div>
									</div>
								</li>
							</ul>
						</ul>
						<div>
							<hr>
							<uib-progressbar max="builderCtrl.max" value="builderCtrl.formIndex+1"><span style="color:white; white-space:nowrap;">Form: {{builderCtrl.formIndex+1}} / {{builderCtrl.max}}</span></uib-progressbar>
						</div>
					</div>
					<div style="margin-top:15px" ng-show="builderCtrl.formsExist">
						<button class="btn btn-default btn-md"  ng-click="builderCtrl.prev()" ng-disabled="builderCtrl.checkMin()">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous 
						</button> 
						<button class="btn btn-default btn-md"  ng-click="builderCtrl.next()" ng-disabled="builderCtrl.checkMax()" style="float:right">
							Next <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						</button> 
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>