<div class="container" style="margin-top:1%;">
	<div class=row>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading panel-grad-head">
					<h4 class="h4-panel">{{builderCtrl.getCurrentUser().name}}'s Templates ({{builderCtrl.templates.length}})</h4>
				</div>
				<div class="panel-body">
					<div class="form-inline">
						<label for="newClient">New Template: </label>
						<input type="text"  width="240px" ng-model="builderCtrl.newTemplate.name" placeholder="Template Name">
						<button class="btn btn-default btn-md"  ng-click="builderCtrl.saveTemplate(builderCtrl.newTemplate)">
							Save <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
						</button>	
					</div>
					<hr>
					<table class="table table.responsive table-hover table-striped" >
						<thead class="thead">
							<tr>
								<th>Templates</th>
								<th style="text-align:right;"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="template in builderCtrl.templates" ng-click="builderCtrl.selectTemplate(template)">
								<td><a>{{template.name}}</a></td>
								<td style="text-align:right;">
									<button class="btn btn-default btn-md" ng-click="builderCtrl.setInfo(); builderCtrl.selectTemplate(template)" ui-sref="formEditor">
										Edit <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
									</button>	
									<button class="btn btn-danger btn-md" ng-click="builderCtrl.deleteTemplate(template)">
										Delete <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading panel-grad-head">
					<h4 class="h4-panel">{{builderCtrl.template.name}}</h4>
				</div>
				<div class="panel-body">
					<div>
						<button type="button" class="btn btn-default btn-md" ng-click="setInfo()" ui-sref="preview">
							Preview <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
						</button>
					</div>
					<hr>
					<div>
						<ul class="list-group">
							<li class="list-group-item">
								<strong>Created on:</strong> {{builderCtrl.template.created | date: format: short}}
							</li>
							<li class="list-group-item">
								<strong>Form Groups:</strong> {{builderCtrl.fCount}}
							</li>
							<li class="list-group-item">
								<strong>Questions:</strong> {{builderCtrl.qCount}}
							</li>
							<li class="list-group-item">
								<strong>Description:</strong> This is the default survey designed by the creators of Api-Maturity!
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>