<div class="container" style="margin-top:2%;">
	<div class="panel panel-default">
		<div class="panel-heading panel-grad-head">
			<h4 class="h4-panel">Question Editor</h4>
			<small class="h4-panel">Template: {{editCtrl.tempName}} | Form: {{editCtrl.formName}}</small><br/>
		</div>
		<div class="panel-body">
			<form class="form-inline">
				<div class="form-group">
					<label for="newQuestion">Add Question:</label>
					<input class="form-control" type="text" id="newQuestion" placeholder="Question text..." ng-model="editCtrl.newQuestion.question">

					<label for="catSelect">Category: </label>
					<select class="form-control" id="catSelect" ng-model="editCtrl.newQuestion.category">
						<option value="Self Assessment">Self Assessment</option>
						<option value="Quantitative Assessment">Quantitative Assessment</option>
					</select>

					<button class="form-control" type="button" class="btn btn-default btn-md" ng-click="editCtrl.saveQuestion(editCtrl.newQuestion)">
						Save <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
					</button>
				</div>
			</form>
		</div>
			<table class="table table.responsive table-hover table-striped" >
				<thead class="thead">
					<tr>
						<th>Question</th>
						<th>Category</th>
						<th>Weight</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="question in editCtrl.questions">
						<td ng-hide="question.edit">{{question.question}}</td>
						<td ng-show="question.edit"><input type="text" ng-model="question.question"></td>
						<td ng-hide="question.edit">{{question.category}}</td>
						<td ng-show="question.edit">
							<select id="editCatSelect" ng-model="question.category">
								<option value="Self Assessment">Self Assessment</option>
								<option value="Quantitative Assessment">Quantitative Assessment</option>
							</select>
						</td>
						<td ng-hide="question.edit">{{question.weight}}</td>
						<td ng-show="question.edit"><input type="text" ng-model="question.weight"></td>
						<td ng-hide="question.edit" style="text-align:right;">
							<button class="btn btn-default btn-md" ng-click="editCtrl.toggleEdit(question)">
								Edit <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</button>
							<button class="btn btn-danger" ng-click="editCtrl.deleteQuestion(question)">
								Delete <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
						</td>
						<td ng-show="question.edit" style="text-align:right;">
							<button class="btn btn-default btn-md" ng-click="editCtrl.updateQuestion(question)">
								Save <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
							</button>
							<button class="btn btn-danger" ng-click="editCtrl.toggleEdit(question)">
								Cancel <span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		<div class="panel-footer">
				<button class="btn btn-default btn-md"  ui-sref="builder">
					Cancel <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
				<button class="btn btn-default btn-md" ui-sref="formEditor">
					Form Editor <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
				</button>
		</div>
	</div>
</div>