  <div class="col-md-6 compare-column-left" style="margin-top:10px">
    <div class="panel panel-default">
      <div class="panel-heading panel-grad-head">
        <h4 class="h4-panel">{{comCtrl.clientName}} > {{comCtrl.assessmentName}}</h4>
        <br/>
      </div>
      <div class="panel-body">
        <div ng-hide="comCtrl.dataLoaded" style="text-align:center;">
          <h4>Loading Results...</h4>
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div ng-show="comCtrl.dataLoaded">
          <div class="content-shadow" style="margin-bottom:15px;">
            <div>
              <h4>Overall Result</h4>
              <canvas id="radarGraph"></canvas>
            </div>
          </div>
          <div class="content-shadow">
            <h4>Form: {{comCtrl.formOne.name}}</h4>
<!--             <button style="margin-bottom:5px" ng-disabled="comCtrl.lineRdy" class="btn btn-default btn-sm" ng-click="comCtrl.savePDF()">
              Save PDF <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            </button> -->
            <div style="padding:2%">
              <h4 class="text-primary">Self Assessment Results</h4>
              <hr/>
<!--               <div id="gsa" class="col-md-4">
                <canvas id="saBar" class="graph-padding-one"></canvas>
              </div> -->
              <div class="col-md-12" id="lsa">
                <canvas id="saLine" class="graph-padding-two"></canvas>
              </div>
              <h4 class="text-primary">Questions</h4>
              <hr/>
              <ul class="list-group list-survey" ng-repeat="form in comCtrl.assessmentOne.assessment" ng-if="comCtrl.formOne._id==form._id">
                <ul class="list-group list-survey" ng-repeat="(question, q) in form.questions" ng-if="form.questions[question].category === 'Self-Assessment'">
                  <li class="list-group-item list-group-item-survey" style="margin-top:1%;padding: 0%;">
                    <div class="media">
                      <div class="media-left">
                        <strong class="text-muted">Score</strong>
                        <strong class="score-text text-success">{{comCtrl.scores.calcScore(q.answer, q.weight)}}</strong>
                      </div>
                      <div class="media-body" style="padding-bottom:10px;">
                        <p class="media-heading question-text">Question {{$index+1}}: {{q.question}}</p>
                        <strong class="text-primary">Response:</strong> {{comCtrl.scores.setSAResponse(q)}}
                        <br/>
                        <strong class="text-primary">Response Value:</strong> {{q.answer}}
                        <br/>
                        <strong class="text-primary">Weight:</strong> {{q.weight}}
                        <br/>
                        <strong ng-if="q.note.length>0" class="text-primary">Note:</strong> {{q.note}}
                      </div>
                    </div>
                  </li>
                </ul>
              </ul>

              <h4 class="text-primary" style="margin-top:20px">Quality Assessment Results</h4>
              <hr/>
<!--               <div id="gqa" class="col-md-4">
                <canvas id="qaBar" class="graph-padding-one"></canvas>
              </div> -->
              <div class="col-md-12" id="lqa">
                <canvas id="qaLine" class="graph-padding-two"></canvas>
              </div>
              <h4 class="text-primary" style="margin-bottom:20px;">Questions</h4>
              <ul class="list-group list-survey" ng-repeat="form in comCtrl.assessmentOne.assessment" ng-if="comCtrl.formOne._id==form._id">
                <ul class="list-group list-survey" ng-repeat="(question, q) in form.questions" ng-if="form.questions[question].category === 'Quantitative-Assessment'">
                  <li class="list-group-item list-group-item-survey" style="margin-top:1%;padding: 0%;">
                    <div class="media">
                      <div class="media-left">
                        <strong class="text-muted">Score</strong>
                        <strong class="score-text text-success">{{comCtrl.scores.calcScore(q.answer, q.weight)}}</strong>
                      </div>
                      <div class="media-body" style="padding-bottom:10px;">
                        <p class="media-heading question-text">Question {{($index+1) - comCtrl.saLengthOne}}: {{q.question}}</p>
                        <strong class="text-primary">Response:</strong> {{comCtrl.scores.setQAResponse(q)}}
                        <br/>
                        <strong class="text-primary">Response Value:</strong> {{q.answer}}
                        <br/>
                        <strong class="text-primary">Weight:</strong> {{q.weight}}
                        <br/>
                        <strong ng-if="q.note.length>0" class="text-primary">Note:</strong> {{q.note}}
                      </div>
                    </div>
                  </li>
                </ul>
              </ul>
              <div style="margin-top:40px">
                <button class="btn btn-default btn-md" ng-click="comCtrl.prev()" ng-disabled="comCtrl.checkMin()">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous
                </button>
                <button class="btn btn-default btn-md" ng-click="comCtrl.next()" ng-disabled="comCtrl.checkMax()" style="float:right">
                  Next <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
              </div>
              <div>
                <hr>
                <uib-progressbar max="comCtrl.maxOne" value="comCtrl.formIndexOne+1"><span style="color:white; white-space:nowrap;">Form: {{comCtrl.formIndexOne+1}} / {{comCtrl.maxOne}}</span>
                </uib-progressbar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 compare-column-right" style="margin-top:10px">
    <div class="panel panel-default">
      <div class="panel-heading panel-grad-head">
        <h4 class="h4-panel">Average API Maturity Scores ({{comCtrl.currentDate | date:'short'}})</h4>
        <br/>
      </div>
      <div class="panel-body">
        <div ng-hide="comCtrl.dataLoaded" style="text-align:center;">
          <h4>Loading Results...</h4>
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div ng-show="comCtrl.dataLoaded">
          <div class="content-shadow" style="margin-bottom:15px;">
            <div>
              <h4>Overall Result</h4>
              <canvas id="radarGraph2"></canvas>
            </div>
          </div>	
          <div class="content-shadow">
            <h4>Form: {{comCtrl.formTwo.name}}</h4>
<!--             <button style="margin-bottom:5px" ng-disabled="comCtrl.lineRdy" class="btn btn-default btn-sm" ng-click="comCtrl.savePDF()">
              Save PDF <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            </button> -->
            <div style="padding:2%">
              <h4 class="text-primary">Self Assessment Results</h4>
              <hr/>
<!--               <div id="gsa" class="col-md-4">
                <canvas id="saBar" class="graph-padding-one"></canvas>
              </div> -->
              <div class="col-md-12" id="lsa2">
                <canvas id="saLine2" class="graph-padding-two"></canvas>
              </div>
              <h4 class="text-primary">Questions</h4>
              <hr/>
              <ul class="list-group list-survey" ng-repeat="form in comCtrl.assessmentTwo" ng-if="comCtrl.formTwo.name===form.name">
                <ul class="list-group list-survey" ng-repeat="(question, q) in form.questions" ng-if="form.questions[question].category === 'Self-Assessment'">
                  <li class="list-group-item list-group-item-survey" style="margin-top:1%;padding: 0%;">
                    <div class="media">
                      <div class="media-left">
                        <strong class="text-muted">Score</strong>
                        <strong class="score-text text-success">{{q.score}}</strong>
                      </div>
                      <div class="media-body" style="padding-bottom:10px;">
                        <p class="media-heading question-text">Question {{$index+1}}: {{q.question}}</p>
                        <strong class="text-primary">Response:</strong> {{comCtrl.scores.setSAResponse(q)}}
                        <br/>
                        <strong class="text-primary">Response Value:</strong> {{q.score}}
                        <br/>
                        <strong class="text-primary">Weight:</strong> {{q.weight}}
                        <br/>
                        <strong ng-if="q.note.length>0" class="text-primary">Note:</strong> {{q.note}}
                      </div>
                    </div>
                  </li>
                </ul>
              </ul>

              <h4 class="text-primary" style="margin-top:20px">Quality Assessment Results</h4>
              <hr/>
<!--               <div id="gqa" class="col-md-4">
                <canvas id="qaBar" class="graph-padding-one"></canvas>
              </div> -->
              <div class="col-md-12" id="lqa2">
                <canvas id="qaLine2" class="graph-padding-two"></canvas>
              </div>
              <h4 class="text-primary" style="margin-bottom:20px;">Questions</h4>
              <ul class="list-group list-survey" ng-repeat="form in comCtrl.assessmentTwo" ng-if="comCtrl.formTwo.name===form.name">
                <ul class="list-group list-survey" ng-repeat="(question, q) in form.questions" ng-if="form.questions[question].category === 'Quantitative-Assessment'">
                  <li class="list-group-item list-group-item-survey" style="margin-top:1%;padding: 0%;">
                    <div class="media">
                      <div class="media-left">
                        <strong class="text-muted">Score</strong>
                        <strong class="score-text text-success">{{q.score}}</strong>
                      </div>
                      <div class="media-body" style="padding-bottom:10px;">
                        <p class="media-heading question-text">Question {{($index+1) - comCtrl.saLengthTwo}}: {{q.question}}</p>
                        <strong class="text-primary">Response:</strong> {{comCtrl.scores.setQAResponse(q)}}
                        <br/>
                        <strong class="text-primary">Response Value:</strong> {{q.score}}
                        <br/>
                        <strong class="text-primary">Weight:</strong> {{q.weight}}
                        <br/>
                        <strong ng-if="q.note.length>0" class="text-primary">Note:</strong> {{q.note}}
                      </div>
                    </div>
                  </li>
                </ul>
              </ul>
              <div style="margin-top:40px">
                <button class="btn btn-default btn-md" ng-click="comCtrl.prev()" ng-disabled="comCtrl.checkMin()">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous
                </button>
                <button class="btn btn-default btn-md" ng-click="comCtrl.next()" ng-disabled="comCtrl.checkMax()" style="float:right">
                  Next <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
              </div>
              <div>
                <hr>
                <uib-progressbar max="comCtrl.maxTwo" value="comCtrl.formIndexTwo+1"><span style="color:white; white-space:nowrap;">Form: {{comCtrl.formIndexTwo+1}} / {{comCtrl.maxTwo}}</span>
                </uib-progressbar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
