<header class="hero-unit" id="banner" style="margin-top:0;">
  <div class="container">
    <h1 class="logo-font">API Maturity</h1>
    <p class="lead">Sign up today!</p>  
  </div>
</header>
<div class="login-row">
  <div class="col-lg-4 col-lg-offset-4 lg-height" style="padding-top:15px;padding-bottom:20px">
    <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
      'has-error': form.name.$invalid && vm.submitted }">
        <label>Username:</label>
        <input type="text" name="name" class="form-control" ng-model="vm.user.name"
          required/>
        <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
          A name is required
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
        'has-error': form.email.$invalid && vm.submitted }">
        <label>E-mail Address:</label>
        <input type="email" name="email" class="form-control" ng-model="vm.user.email"
        required
        mongoose-error/>
        <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
          Doesn't look like a valid email.
        </p>
        <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
          What's your email address?
        </p>
        <p class="help-block" ng-show="form.email.$error.mongoose">
          {{ vm.errors.email }}
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.fName.$valid && vm.submitted,
        'has-error': form.fName.$invalid && vm.submitted }">
        <label>First Name:</label>
        <input type="text" name="fName" class="form-control" ng-model="vm.user.firstName"
        required/>
        <p class="help-block" ng-show="form.fName.$error.required && vm.submitted">
          Please provide your first name.
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.lName.$valid && vm.submitted,
        'has-error': form.lName.$invalid && vm.submitted }">
        <label>Last name:</label>
        <input type="text" name="lName" class="form-control" ng-model="vm.user.lastName"
        required/>
        <p class="help-block" ng-show="form.lName.$error.required && vm.submitted">
          Please provide your last name.
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
        'has-error': form.password.$invalid && vm.submitted }">
        <label>Password:</label>
        <input type="password" name="password" class="form-control" ng-model="vm.user.password"
        ng-minlength="3"
        required
        mongoose-error/>
        <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
          Password must be at least 3 characters.
        </p>
        <p class="help-block" ng-show="form.password.$error.mongoose">
          {{ vm.errors.password }}
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
        'has-error': form.confirmPassword.$invalid && vm.submitted }">
        <label>Confirm Password:</label>
        <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
        ng-pattern="vm.user.password"
        ng-minlength="3" required/>
        <p class="help-block"
        ng-show="form.confirmPassword.$error.pattern && vm.submitted">
        Passwords must match.
        </p>
      </div>

      <div>
        <button class="btn btn-inverse btn-md btn-register" type="submit">
          Sign up
        </button>
        <a class="btn btn-default btn-md btn-login" ui-sref="login">
          Login
        </a>
      </div>
    </form>
  </div>
</div>

