.score-text {
	font-size: 30px;
	text-align: center;
	padding-left:11px
}

.graph-padding-one {
	padding-right: 15px;
	margin-bottom:30px;
	margin-top:15px;
	height: 300;
}

.graph-padding-two { 
	padding-right: 15px;
	margin-bottom:30px;
	height: 150;
}